@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(
    260.13deg,
    #5c1e03 22.59%,
    rgba(117, 6, 6, 0.540837) 109.46%
  );
}

.text-outline {
  -webkit-text-stroke: 1px white;
}
